.ng-cloak(ng-init="init()")

  div.panel.panel-info.task-list
    a ng-click="returnPage()"
      button.btn.btn-primary.btn-lg(type="button" style="margin:10px" ) Return

    form#new_task(ng-submit="addTask()")
      .input-group
        input#taskDescription.form-control.input-lg(type="text" autofocus="autofocus" placeholder="Task description" maxlength="255" ng-model="taskDescription" data-non-blank)
        span.input-group-btn
          button.btn.btn-primary.btn-lg(type="submit") add
    ul.list-group(ui-sortable="sortableOptions" ng-model="list.tasks" ui-sortable-ext="sortableEnabled")
      li.list-group-item(ng-repeat="task in lists | orderBy:sortMethod" style="margin: 30px;" ng-class="{completed: task.completed, draggable: sortMethod == 'priority'}")

        .task-description
          editablespan(model="task.description"  input-class="form-control")
        .task-buttons
          button.btn.btn-danger.btn-xs.pull-right(type="button" ng-click="deleteTask(task)")
            span.glyphicon.glyphicon-ban-circle

