doctype html
html
  head
    = tag 'meta', 'charset' => 'utf-8'
    title Todo
    = stylesheet_link_tag    "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  body(ng-app="app")
    .container
      .header
		ul.nav.nav-pills.pull-right
		    - if user_signed_in?
		      li
		        = link_to "Log out", destroy_user_session_path, method: :delete
		    - else
		      li(class=active_if_current(root_path))
		        = link_to "Home", root_path
		      li(class=active_if_current(new_user_registration_path))
		        = link_to "Sign up", new_user_registration_path
		      li(class=active_if_current(new_user_session_path))
		        = link_to "Sign in", new_user_session_path
		h3.text-muted
		    = link_to "Todo Application", root_path

      = yield
